

<div class="row">

	<!-- left col div -->
	<div class="col-md-3" style="padding-left:40px;">


        <solr-pivot-facet
                label="Choose Department"
                facet-data="taxonomy_pivot"
                is-facet-filter-open="isFacetFilterOpen"
                click-pivot="clickFacet"
                show-value-filter="true"
                >
        </solr-pivot-facet>


        <ecomm-search-within-results-filter ng-if="$routeParams.q">
        </ecomm-search-within-results-filter>

        <solr-facet-field ng-if="$routeParams.q || $routeParams.f"
                label="Brand"
                facet-data="facet_fields.manufacturer"
                facet-name="manufacturer"
                is-facet-filter-open="isFacetFilterOpen"
                click-facet="clickFacet"
                is-selected="isSelected"
                show-value-filter="true"
                short-list="false"
                >
        </solr-facet-field>



        <!-- To Auto Render all Facet fields
        <solr-facet-field ng-repeat="(facet, values) in facet_fields" close-others="oneAtATime" ng-if="facet !=taxonomy_field"
                          label="{{parseFacetLabel(facet)}}"
                          facet-name="{{facet}}"
                          facet-data="values"
                          is-facet-filter-open="isFacetFilterOpen"
                          click-facet="clickFacet"
                          is-selected="isSelected"
                ></solr-facet-field>
        -->



    </div>
	<!-- /left col -->

	<!-- middle col -->

	<div class="col-md-7" style="padding-left:20px;padding-top:10px">

		<div class="col-md-12" align="center">
            <div class="col-md-3">
                <fusion-run-aggr></fusion-run-aggr>
                <ecomm-notification></ecomm-notification>
            </div>
            <div class="col-md-6">
                <ecomm-auto-complete></ecomm-auto-complete>
            </div>
		</div>
		<div class="col-md-12" style="padding-top:20px">

            <a class="small" ng-click="showFusionUrl = !showFusionUrl" href="javascript:void(0);">View Fusion Request</a>,
            <solr-api-helper solr-response="data">
            </solr-api-helper>
            <blockquote ng-show="showFusionUrl">

                <pre><small>{{fusionUrl}}</small></pre>

            </blockquote>

		</div>

		<div class="col-md-12" style="padding-top:20px">
            <solr-path-breadcrumb
                    path="#/{{controller_path}}/{{$routeParams.store}}/*/{{$routeParams.filter}}"
                    breadcrumb="breadcrumb"></solr-path-breadcrumb>
            <br />


            <h3>Found {{data.response.numFound}} results

                <span ng-if="$routeParams.q">for "{{$routeParams.q}}"</span></h3>

            <ecomm-spell-suggest></ecomm-spell-suggest>

			<div class="col-md-12" ng-repeat="doc in docs">
                <br />
                <ecomm-product-result-item></ecomm-product-result-item>
                <fusion-click-simulator></fusion-click-simulator>
			</div>




		</div>
	</div>
    <!-- /middle -->

    <!-- right column -->
    <div class="col-md-2">

        <!-- Disabling top/related searches until we have an official API for queryForQuery recommendations?
        Top Searches
        <ul>
            <li ng-repeat="query in queries">{{query}}</li>
        </ul>-->

    </div>
    <!-- /right column-->
</div>

