

<div class="row">

	<!-- left col div -->
	<div class="col-md-3" style="padding-left:40px;">


        <!-- Choose Department -->
        <staples-choose-department-facet ng-show="$routeParams.q">
        </staples-choose-department-facet>


        <!-- category nav -->
        <solr-path-hierarchy-facet-field ng-show="!$routeParams.q"
                label="Browse"
                facet-data="facet_fields.cat_tree"
                facet-name="cat_tree"
                is-facet-filter-open="isCatFilterOpen"
                path-separator="taxonomy_separator"
                create-link="createCatLink">
        </solr-path-hierarchy-facet-field>


        <!-- In_Store_Availability_en_US_s -->
        <solr-facet-field
                label="In Store Availability"
                facet-data="facet_fields.In_Store_Availability_en_US_s"
                facet-name="In_Store_Availability_en_US_s"
                is-facet-filter-open="isFacetFilterOpen"
                click-facet="clickFacet"
                is-selected="isSelected"
                show-value-filter="true"
                short-list="true"
                >
        </solr-facet-field>


        <!-- Result Type -->
        <solr-facet-field
                label="Result Type"
                facet-data="facet_fields.PRODUCTTYPE_NAME_s"
                facet-name="PRODUCTTYPE_NAME_s"
                is-facet-filter-open="isFacetFilterOpen"
                click-facet="clickFacet"
                is-selected="isSelected"
                show-value-filter="true"
                short-list="true"
                >
        </solr-facet-field>

        <staples-search-within-results-filter ng-show="$routeParams.q"></staples-search-within-results-filter>

        <!-- Brand -->
        <solr-facet-field
                label="Brand"
                facet-data="facet_fields.Brand_en_US_s"
                facet-name="Brand_en_US_s"
                is-facet-filter-open="isFacetFilterOpen"
                click-facet="clickFacet"
                is-selected="isSelected"
                show-value-filter="true"
                short-list="false"
                >
        </solr-facet-field>



        <!-- To Auto Render all Facet fields
        <solr-facet-field ng-repeat="(facet, values) in facet_fields" close-others="oneAtATime" ng-if="facet !=taxonomy_field"
                          label="{{parseFacetLabel(facet)}}"
                          facet-name="{{facet}}"
                          facet-data="values"
                          is-facet-filter-open="isFacetFilterOpen"
                          click-facet="clickFacet"
                          is-selected="isSelected"
                ></solr-facet-field>
        -->



    </div>
	<!-- /left col -->

	<!-- middle col -->

	<div class="col-md-9" style="padding-left:20px;padding-top:10px">

		<div class="col-md-12" align="center">
            <div class="col-md-3">
                <fusion-run-aggr></fusion-run-aggr>
                <staples-notification></staples-notification>
            </div>
            <div class="col-md-6">
                <staples-auto-complete></staples-auto-complete>
            </div>
		</div>
		<div class="col-md-12" style="padding-top:20px">

            <a class="small" ng-click="showFusionUrl = !showFusionUrl" href="javascript:void(0);">View Fusion Request</a>,
            <solr-api-helper solr-response="data">
            </solr-api-helper>
            <blockquote ng-show="showFusionUrl">

                <pre><small>{{fusionUrl}}</small></pre>

            </blockquote>

		</div>

		<div class="col-md-12" style="padding-top:20px">
            <solr-path-breadcrumb
                    path="#/{{controller_path}}/{{$routeParams.store}}/*/{{$routeParams.filter}}"
                    breadcrumb="breadcrumb"></solr-path-breadcrumb>
            <br />


            <h3>Found {{data.response.numFound}} results

                <span ng-if="$routeParams.q">for "{{$routeParams.q}}"</span></h3>

            <staples-spell-suggest></staples-spell-suggest>

			<div class="col-md-12" ng-repeat="doc in docs">
                <br />
                <staples-product-result-item></staples-product-result-item>
                <fusion-click-simulator></fusion-click-simulator>
			</div>




		</div>
	<!-- /middle -->
	</div>
</div>

