

<div class="row">

	<!-- left col div -->
	<div class="col-md-3" style="padding-left:40px;">

        <!-- category nav -->
        <solr-path-hierarchy-facet-field
                label="Categories"
                facet-data="taxonomy"
                facet-name="cpath"
                is-facet-filter-open="isCatFilterOpen"
                path-separator="taxonomy_separator"
                create-link="createCatLink">
        </solr-path-hierarchy-facet-field>


        <solr-facet-field ng-repeat="(facet, values) in facet_fields" close-others="oneAtATime" ng-if="facet !=taxonomy_field"
                          label="{{parseFacetLabel(facet)}}"
                          facet-name="{{facet}}"
                          facet-data="values"
                          is-facet-filter-open="isFacetFilterOpen"
                          click-facet="clickFacet"
                          is-selected="isSelected"
                ></solr-facet-field>

	</div>
	<!-- /left col -->

	<!-- middle col -->
	<div class="col-md-9" style="padding-left:20px;padding-top:10px">
		<div class="col-md-12" align="center">
			<form class="form-inline" role="form" style="padding-bottom:10px">
					<input ng-model="query" name="Search" class="form-control input-lg" placeholder=""></input>
					<button type="button" ng-click="clickSearch(query)" class="btn btn-danger btn-lg">Search</button>
			</form>
		</div>
		<div class="col-md-12">
			<a class="small" ng-click="showParams = !showParams" href="javascript:void(0);">View Query Parameters</a>,
			<a class="small" ng-click="showData = !showData" href="javascript:void(0);">View JSON Response</a>
			<blockquote ng-show="showParams">
				<div ng-repeat="(key, data) in solr_params">
					{{key}}={{data}} <br />
				</div>
			</blockquote>
			<blockquote ng-show="showData">
			
				<pre>{{data | json}}</pre>
			
			</blockquote>
		</div>


		<div class="col-md-12">

			Found {{data.response.numFound}} results.

			<div ng-repeat="doc in docs">
				<div>
					<h3>{{doc.name}}</h3> <br/>
					{{doc.short_description}} <br/>
					<strong>${{doc.price}}</strong>
                    <a class="small" ng-click="showDoc = !showDoc" href="javascript:void(0);">View Document</a>
                    <blockquote ng-show="showDoc">
                        <pre>{{doc | json}}</pre>
                    </blockquote>
				</div>
			</div>




		</div>
	<!-- /middle -->
	</div>
</div>

