

<div class="row">

	<!-- left col div -->
	<div class="col-md-3" style="padding-left:40px;">

        <!-- category nav -->
        <solr-path-hierarchy-facet-field
                label="Categories"
                facet-data="facet_fields.cat_tree"
                facet-name="cat_tree"
                is-facet-filter-open="isCatFilterOpen"
                path-separator="taxonomy_separator"
                create-link="createCatLink">
        </solr-path-hierarchy-facet-field>


        <!-- Sale items -->
        <accordion close-others="oneAtATime">
            <accordion-group is-open="true">
                <accordion-heading>
                    Special Pricing
                </accordion-heading>

                <div style="padding-left:20px">
                    <div>
                        <!--a ng-href="#/c/{{cat.replace('/','-')}}">{{cat.split('/')[cat.split('/').length-1]}}</a> ({{count}})-->
                        <input ng-click="clickSaleFilter()" ng-checked="isSalesFilterChecked()" type="checkbox" /> On Sale ({{facet_queries["{!label='On Sale'}saleStart_tdt:[* TO NOW] AND saleEnd_tdt:[NOW TO *]"]}})
                    </div>
                </div>
            </accordion-group>
        </accordion>


        <!-- Brand -->
        <solr-facet-field
                label="Brand"
                facet-data="facet_fields.brand_s"
                facet-name="brand_s"
                is-facet-filter-open="isFacetFilterOpen"
                click-facet="clickFacet"
                is-selected="isSelected"
                >
        </solr-facet-field>

        <!-- Product Type -->
        <solr-facet-field
                label="Product Type"
                facet-data="facet_fields.product_type"
                facet-name="product_type"
                is-facet-filter-open="isFacetFilterOpen"
                click-facet="clickFacet"
                is-selected="isSelected"
                >
        </solr-facet-field>


        <!-- To Auto Render all Facet fields
        <solr-facet-field ng-repeat="(facet, values) in facet_fields" close-others="oneAtATime" ng-if="facet !=taxonomy_field"
                          label="{{parseFacetLabel(facet)}}"
                          facet-name="{{facet}}"
                          facet-data="values"
                          is-facet-filter-open="isFacetFilterOpen"
                          click-facet="clickFacet"
                          is-selected="isSelected"
                ></solr-facet-field>
        -->



    </div>
	<!-- /left col -->

	<!-- middle col -->

	<div class="col-md-9" style="padding-left:20px;padding-top:10px">

		<div class="col-md-12" align="center">


            <div class="input-group has-success col-md-5">
                <input type="text" ng-model="asyncSelected" placeholder="Recipes, Online Ordering and More!" typeahead-on-select="$location.search('q',asyncSelected)" typeahead="description_s for description_s in typeAheadSearch($viewValue)" typeahead-loading="loadingLocations" class="form-control">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <span class="input-group-addon"><a class="search-link" ng-click="$location.search('q',asyncSelected)">Search</a></span>
            </div>
            <!--form class="form-inline" role="form" style="padding-bottom:10px">
					<input ng-model="query" name="Search" class="form-control input-lg" placeholder=""></input>
					<button type="button" ng-click="clickSearch(query)" class="btn btn-success btn-lg">Search</button>
			</form-->
		</div>
		<div class="col-md-12">
			<a class="small" ng-click="showParams = !showParams" href="javascript:void(0);">View Query Parameters</a>,
			<a class="small" ng-click="showData = !showData" href="javascript:void(0);">View JSON Response</a>
			<blockquote ng-show="showParams">
				<div ng-repeat="(key, data) in solr_params">
					{{key}}={{data}} <br />
				</div>
			</blockquote>
			<blockquote ng-show="showData">
			
				<pre>{{data | json}}</pre>
			
			</blockquote>
		</div>

        <div class="col-md-12">
            <div class="spinner" ng-show="loading">LOADING SCREEN</div>
        </div>

		<div class="col-md-12">

            <div id="breadcrumb" ng-if="breadcrumb">
                <a href="#/{{controller_path}}/{{$routeParams.store}}/*/{{$routeParams.filter}}">Home</a> <span ng-repeat="crumb in breadcrumb"> > {{crumb}}</span>
            </div><br />


            Found {{data.response.numFound}} results.
			<div ng-repeat="doc in docs">
					<h3>{{doc.name}}</h3> <br/>
					{{doc.description}} by <strong>{{doc.brand_s}}</strong><br/>
					<strong>${{doc.price}}</strong>
                    <blockquote>
                        Family: {{doc['attr_merchandiseHierarchy.family_'][0]}}<br />
                        Tax Class: {{doc.attr_taxClass_[0]}} <br />
                        Brick: {{doc.product_type}}

                        <a class="small" ng-click="showDoc = !showDoc" href="javascript:void(0);">View Document</a>
                        <blockquote ng-show="showDoc">
                            <pre>{{doc | json}}</pre>
                        </blockquote>
                    </blockquote>
			</div>




		</div>
	<!-- /middle -->
	</div>
</div>

