

<div class="row">

	<!-- left col div -->
	<div class="col-md-3" style="padding-left:40px;">


        <!-- category nav -->
        <accordion close-others="oneAtATime">
            <accordion-group is-open="isCatFilterOpen">
                <accordion-heading>
                    Categories <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCatFilterOpen, 'glyphicon-chevron-right': !isCatFilterOpen}"></i>
                </accordion-heading>

                <!-- Category Navigation -->
                <div ng-repeat="cat in taxonomy" style="padding-left:20px">
                    <div style="padding-left:{{cat[0].split(taxonomy_separator).length*10}}px">
                        <!--a ng-href="#/c/{{cat.replace('/','-')}}">{{cat.split('/')[cat.split('/').length-1]}}</a> ({{count}})-->
                        <a ng-href="#/{{controller_path}}/{{$routeParams.store}}/{{encodePath(cat[0])}}/{{$routeParams.filter}}?q={{$routeParams.q}}">{{cat[0].split(taxonomy_separator)[cat[0].split(taxonomy_separator).length-1].replace("&amp;","&")}}</a> ({{cat[1]}})
                    </div>
                </div>
            </accordion-group>
        </accordion>


        <!-- Facets -->
        <accordion ng-repeat="(facet, values) in facet_fields" close-others="oneAtATime" ng-if="facet !=taxonomy_field">
            <accordion-group is-open="isFacetFilterOpen"  >
                <accordion-heading>
			    	<span ng-if="solr_params[facet+'.label']">
			       		{{solr_params[facet+'.label']}}
			   		</span>
			   		<span ng-if="!solr_params[facet+'.label']">
			   			{{parseFacetLabel(facet)}}
			   		</span>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isFacetFilterOpen, 'glyphicon-chevron-right': !isFacetFilterOpen}"></i>
                </accordion-heading>
                <div class="scroll-div">
                <div ng-repeat="value in values" style="padding-left:20px">
                    <input ng-click="clickFacet(facet,value[0],$routeParams,filter_separator)" ng-checked="checkCheckbox(facet,value[0],$routeParams)" type="checkbox" />
                    <span ng-if="value[0] == ''"><i>N/A</i></span>
                    <span ng-if="value[0] != ''">{{value[0]}}</span>
                    ({{value[1]}})
                </div>
                </div>
            </accordion-group>
        </accordion>



	</div>
	<!-- /left col -->

	<!-- middle col -->
	<div class="col-md-9" style="padding-left:20px;padding-top:10px">
		<div class="col-md-12" align="center">
            <form class="form-inline" role="form" style="padding-bottom:10px">
					<input ng-model="query" name="Search" class="form-control input-lg" placeholder=""></input>
					<button type="button" ng-click="clickSearch(query)" class="btn btn-danger btn-lg">Search</button>
			</form>
		</div>
		<div class="col-md-12">
			<a class="small" ng-click="showParams = !showParams" href="javascript:void(0);">View Query Parameters</a>,
			<a class="small" ng-click="showData = !showData" href="javascript:void(0);">View JSON Response</a>
			<blockquote ng-show="showParams">
				<div ng-repeat="(key, data) in solr_params">
					{{key}}={{data}} <br />
				</div>
			</blockquote>
			<blockquote ng-show="showData">
			
				<pre>{{data | json}}</pre>
			
			</blockquote>
		</div>


		<div class="col-md-12">

            <div id="breadcrumb" ng-if="breadcrumb">
                <a href="#/{{controller_path}}/{{$routeParams.store}}/*/{{$routeParams.filter}}">Home</a> <span ng-repeat="crumb in breadcrumb"> > {{crumb}}</span>
            </div><br />


            Found {{data.response.numFound}} results.
			<div ng-repeat="doc in docs">
					<h3>{{doc.name}}</h3> <br/>
					{{doc.description}} by <strong>{{doc.brand_s}}</strong><br/>
					<strong>${{doc.price}}</strong>
                    <blockquote>
                        Family: {{doc['attr_merchandiseHierarchy.family_'][0]}}<br />
                        Tax Class: {{doc.attr_taxClass_[0]}} <br />
                        Brick: {{doc.product_type}}

                        <a class="small" ng-click="showDoc = !showDoc" href="javascript:void(0);">View Document</a>
                        <blockquote ng-show="showDoc">
                            <pre>{{doc | json}}</pre>
                        </blockquote>
                    </blockquote>
			</div>




		</div>
	<!-- /middle -->
	</div>
</div>

