

<div class="row">

	<!-- left col div -->
	<div class="col-md-3" style="padding-left:40px;">

        <!-- category nav -->
        <solr-path-hierarchy-facet-field
                label="Categories"
                facet-data="facet_fields.cat_tree"
                facet-name="cat_tree"
                is-facet-filter-open="isCatFilterOpen"
                path-separator="taxonomy_separator"
                create-link="createCatLink">
        </solr-path-hierarchy-facet-field>


        <!-- Sale items -->
        <wfm-sale-filter></wfm-sale-filter>

        <!-- Brand -->
        <solr-facet-field
                label="Brand"
                facet-data="facet_fields.brand_s"
                facet-name="brand_s"
                is-facet-filter-open="isFacetFilterOpen"
                click-facet="clickFacet"
                is-selected="isSelected"
                show-value-filter="true"
                >
        </solr-facet-field>

        <!-- Product Type -->
        <solr-facet-field
                label="Product Type"
                facet-data="facet_fields.product_type"
                facet-name="product_type"
                is-facet-filter-open="isFacetFilterOpen"
                click-facet="clickFacet"
                is-selected="isSelected"
                show-value-filter="true"
                >
        </solr-facet-field>


        <!-- To Auto Render all Facet fields
        <solr-facet-field ng-repeat="(facet, values) in facet_fields" close-others="oneAtATime" ng-if="facet !=taxonomy_field"
                          label="{{parseFacetLabel(facet)}}"
                          facet-name="{{facet}}"
                          facet-data="values"
                          is-facet-filter-open="isFacetFilterOpen"
                          click-facet="clickFacet"
                          is-selected="isSelected"
                ></solr-facet-field>
        -->



    </div>
	<!-- /left col -->

	<!-- middle col -->

	<div class="col-md-9" style="padding-left:20px;padding-top:10px">

		<div class="col-md-12" align="center">
            <div class="col-md-3">
                <fusion-run-aggr></fusion-run-aggr>
                <wfm-notification></wfm-notification>
            </div>
            <div class="col-md-6">
                <solr-auto-complete></solr-auto-complete>
            </div>
		</div>
		<div class="col-md-12" style="padding-top:20px">



            <solr-api-helper solr-response="data">
            </solr-api-helper>

		</div>

		<div class="col-md-12" style="padding-top:20px">
            <solr-path-breadcrumb
                    path="#/{{controller_path}}/{{$routeParams.store}}/*/{{$routeParams.filter}}"
                    breadcrumb="breadcrumb"></solr-path-breadcrumb>
            <br />


            Found {{data.response.numFound}} results.
			<div class="col-md-12" ng-repeat="doc in docs">
                <br />
                <div class="col-md-2">
                    <img src="http://lorempixel.com/200/150/food/{{doc.description.replace('/',',')}} by {{doc.brand_s}}" />
                </div>

                <div class="col-md-10">
					<strong>{{doc.description}}</strong> by {{doc.brand_s}}<br/>
                    <ul>
                        <li>{{doc.product_type}}</li>
                    </ul>
                    <strong>${{doc.price}}</strong> <br />
                    <a class="small" ng-click="showDoc = !showDoc" href="javascript:void(0);">View Document</a>
                    <blockquote ng-show="showDoc">
                        <pre>{{doc | json}}</pre>
                    </blockquote>
                </div>
                <fusion-click-simulator></fusion-click-simulator>
			</div>




		</div>
	<!-- /middle -->
	</div>
</div>

