

<div class="col-md-12">

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>{{product.description}}</h1> <h2>by {{product.brand_s}}</h2>

        <img src="http://lorempixel.com/600/250/food/" />
        <br />
        {{product.price}}


        <div class="col-md-12" ng-if="recommendations">
            <h3>Customers Who Viewed This Item Also Viewed</h3>
            <div class="col-md-2" ng-repeat="rec in recommendations">
                <img ng-src="http://lorempixel.com/150/100/food/{{rec.description.replace('/',' ')}} by {{rec.brand_s}}" />
                <strong>{{rec.description}}</strong> by {{rec.brand_s}}
            </div>
        </div>
        <div class="col-md-12" ng-if="recommendations2">
            <h3>Customers Who Searched For "{{q}}" Also Viewed</h3>
            <div class="col-md-2" ng-repeat="rec in recommendations2">
                <img ng-src="http://lorempixel.com/150/100/food/{{rec.description.replace('/',' ')}} by {{rec.brand_s}}" />
                <strong>{{rec.description}}</strong> by {{rec.brand_s}}
            </div>
        </div>



    </div>
    <div class="col-md-2">

        <h3>Related Searches</h3>
        <div ng-if="queries">
            <div ng-repeat="query in queries">
                <a ng-href="#/wfm/{{store}}/?q={{query}}">{{query}}</a>
            </div>
        </div>

    </div>

</div>
