<form ng-submit="console.log(asyncSelected);$location.search('f','');$location.path(controller_path).search('q',asyncSelected)">
<div class="input-group">
<span class="input-group-addon">
    <span ng-show="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    <span ng-show="!loading" class="glyphicon glyphicon-search"></span>
</span>
    <input type="text"
           ng-model="asyncSelected"
           placeholder="Search"
           typeahead-on-select="$location.path(controller_path).search('q',asyncSelected)"
           typeahead="val for val in typeAheadSearch($viewValue)"
           typeahead-loading="loading"
           typeahead-focus-first="false"
           typeahead-editable="true"
           class="form-control">
    <span class="input-group-addon"><a
            class="search-link"
            ng-click="console.log(asyncSelected);$location.search('f','');$location.path(controller_path).search('q',asyncSelected)"
            >Search</a></span>


</div>
 Language: 
 <select ng-model="selected_lang" ng-change="$location.search('lang',selected_lang)">
  <option>EN</option>
  <option>FR</option>
</select>
{{selected_lang}}
</form>