
<!-- Pivot Facet Display -->


<accordion>
    <accordion-group is-open="isFacetFilterOpen">
        <accordion-heading>
           {{label}}
        </accordion-heading>
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isFacetFilterOpen, 'glyphicon-chevron-right': !isFacetFilterOpen}"></i>

        <!--div ng-if="shortList == false" class="input-group" style="padding:15px;"-->
        <div class="input-group" style="padding:15px;">
            <input type="text" class="form-control" placeholder="Filter values" ng-model="query" />
            <div class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></div>
        </div>
        <div>
            <div ng-repeat="department in facetData | filter:query" style="padding-left:20px">
                <a href ng-show="!showClass" ng-click="showClass=true" class="glyphicon-plus"></a>
                <span ng-show="showClass" ng-click="showClass=false" class="glyphicon-minus"></span>

                <a href ng-click="clickPivot(department.value,undefined)">{{department.value}}</a>
                <small>({{department.count}})</small>

                <div ng-show="showClass" ng-repeat="_class in department.pivot | filter:query" style="padding-left:20px">
                    <a href ng-click="clickPivot(department.value,_class.value)">{{_class.value}}</a>
                    <small>({{_class.count}})</small>
                </div>
            </div>
        </div>
    </accordion-group>
</accordion>


