
<!-- Facet Display -->


<accordion>
    <accordion-group is-open="isFacetFilterOpen">
        <accordion-heading>
            {{label}}
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isFacetFilterOpen, 'glyphicon-chevron-right': !isFacetFilterOpen}"></i>
        </accordion-heading>
        <!--div ng-if="shortList == false" class="input-group" style="padding:15px;"-->
        <div class="input-group" style="padding:15px;">
            <input type="text" class="form-control" placeholder="Filter values" ng-model="query" />
            <div class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></div>
        </div>
        <div>
            <div ng-repeat="value in facetData | filter:query" style="padding-left:20px">

                <span ng-show="!showClass" ng-click="showClass=true" class="glyphicon-plus"></span>
                <span ng-show="showClass" ng-click="showClass=false" class="glyphicon-minus"></span>

                <span class="fake-link" ng-click="clickPivot(value.field,value.value)">{{value.value}}</span></a>

                <div ng-show="showClass" ng-repeat="val in value.pivot | filter:query" style="padding-left:20px">
                    <span class="fake-link" ng-click="clickPivot(val.field,val.value)">{{val.value}}</span></a>
                </div>
            </div>
        </div>
    </accordion-group>
</accordion>