<div class="input-group">
<span class="input-group-addon">
    <span ng-show="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    <span ng-show="!loading" class="glyphicon glyphicon-search"></span>
</span>
    <input type="text"
           ng-model="asyncSelected"
           placeholder="Search"
           typeahead-on-select="$location.path(controller_path).search('q',asyncSelected)"
           typeahead="val for val in typeAheadSearch($viewValue)"
           typeahead-loading="loading"
           class="form-control">
    <span class="input-group-addon"><a class="search-link" ng-click="$location.path(controller_path+'/'+$routeParams.store).search('q',asyncSelected)">Search</a></span>
</div>